/*

<div class="components-panel__row">
    <label for="oneupweb_schema_<?=$key?>"><?=$args['label']?></label>
    <input type="text" placeholder="<?=esc_attr(apply_filters("Oneupweb/Schema/$key/placeholder", $args['placeholder'], $post))?>"
        id="oneupweb_schema_<?=$key?>" name="schema_<?=$key?>" size="20" class="components-text-control__input"
        value="<?=$values["_schema_$key"][0] ?? ''?>">
</div>

*/

.wrap #oneupweb_schema .components-panel__row {
    display: flex;    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-items: center;
}

#oneupweb_schema .components-panel__row label {
    flex: 0 1 150px;    
    margin-right: 0.5em;
}

#oneupweb_schema .components-panel__row input {
    flex: 1 1 auto;
}
#oneupweb_schema .components-panel__row .indentifier {
    margin-left: 0.5em;
}